{% extends '../base_integrador.html' %}

{% load static %}

{% block title %} Empleados {% endblock %}

{% block content %}

<h1 class="mt-4">Empleado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'empleado_index' %}">Empleados</a></li>
    <li class="breadcrumb-item active">Alta de empleado</li>
</ol>

<div class="card">
    <div class="card-header">Alta de vendedores y supervisores</div>
    <div class="card-body">
        <form action="{% url 'empleado_nuevo' %}" method="post" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'integrador/empleado/form.html' %}
        </form>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{% static '/integrador/bootstrap-sat/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/form-validator.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/script.js' %}"></script>

{% endblock script %}