{% load static %}
<!DOCTYPE html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Internet G3</title>
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/css/master.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/flagiconcss/css/flag-icon.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static '/integrador/bootstrap-sat/img/logo_G3.png' %}" alt="logo" class="app-logo">
            </div>
            
            
        </div>
    </div>
</div>

<script src="{% static '/integrador/bootstrap-sat/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/chartsjs/Chart.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/charts.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/script.js' %}"></script>

</body>

</html>
