{% load static %}
<!DOCTYPE html>
<!-- 
* Bootstrap Simple Admin Template
* Version: 2.1
* Author: Alexis Luna
* Website: https://github.com/alexis-luna/bootstrap-simple-admin-template
-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/fontawesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/css/master.css' %}" rel="stylesheet">
    <link href="{% static '/integrador/bootstrap-sat/vendor/flagiconcss/css/flag-icon.min.css' %}" rel="stylesheet">
    {% block header %}{% endblock header %}
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <img src="{% static '/integrador/bootstrap-sat/img/logo_G3.png' %}" alt="logo" class="app-logo">
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="{% url 'inicio_empleado' %}"><i class="fas fa-home"></i> Nuestros Servicios</a>
                </li>
                <li>
                    <a href="{%url 'cliente_index' %}"><i class="fas fa-table"></i> Módulo Ventas </a>
                </li>
                <li>
                    <a href="{%url 'ordentrabajo' %}"><i class="fas fa-table"></i> Módulo Instalaciones </a>
                </li>
            </ul>
        </nav>
   
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span>{{user.username}}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li><a href="" class="dropdown-item"><i class="fas fa-address-card"></i> Usuarios</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-envelope"></i> Mensajes</a></li>
                                        <li><a href="" class="dropdown-item"><i class="fas fa-cog"></i> Configuración</a></li>
                                        <div class="dropdown-divider"></div>
                                        <li><a href="{% url 'logout' %}" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            {% block content %}{% endblock %}
        </div>
    </div>

    {% block script %}{% endblock %}

</body>

</html>
