{% extends './base_integrador.html' %}

{% load static %}

{% block title %} Blank Page | Bootstrap Simple Admin Template {% endblock %}

{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Blank Page</h3>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="{% static '/integrador/bootstrap-sat/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/script.js' %}"></script>

{% endblock script %}