{% extends './base_integrador.html' %}

{% load static %}

{% block title %} Domicilio y Servicio {% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Alta de Domicilio y Servicio</h3>
        </div>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags %}
                    <h4><span class="badge bg-{{ message.tags }}">{{ message }}</span></h4>
                {% endif %}
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h3 class="card-header"><span class="badge bg-warning">Domicilio</span></h3>
                    <div class="card-body">
                        <h5 class="card-title">Alta de Domicilio</h5>
                        <form novalidate class="needs-validation" accept-charset="utf-8" id="domicilio_form" name="domicilio_form" action="{% url 'domicilio' %}" method="POST">
                            {% csrf_token %}
                            <table>
                                {{domicilio_form.as_table}}
                            </table>
                            <input type="hidden" id="cliente_id" name="cliente_id" value="{{cliente_id}}">
                            <div class="text-end">
                                <button type="submit" action="" class="btn btn-success"><i class="fas fa-check"></i> Verificar y Generar Vista</button>
                            </div>
                        </form>
                        {% comment %} <div class="mb-3 col-md-12">
                            {% if data %}
                                {{ data }}
                            {% endif %}
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h3 class="card-header"><span class="badge bg-warning">Confirmar Venta</span></h3>
                    <div class="card-body">
                        {% comment %} <h5 class="card-title">Formulario de Alta de Domicilio y Servicio</h5> {% endcomment %}
                        <form novalidate id="geo_domicilio_form" name="geo_domicilio_form" action="{% url 'domicilio' %}" method="POST">
                            {% csrf_token %}
                            {% if mapa %}
                                <div> {{ mapa | safe }}</div>
                            {% endif %}
                            <br>
                            <div class="text-end">
                                <button type="" href="{% url 'servicio' %}" action="" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <h3 class="card-header"><span class="badge bg-warning">Servicios a instalar</span></h3>
                    <div class="card-body">
                        <h5 class="card-title">Alta de Servicios</h5>
                        <table class="table">
                        <thead>
                            <tr>
                                <th>Tipo de servicio disponible en la zona</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for servicio in servicio %}
                            <tr>
                                <td>{{servicio.descripcion}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>

                        <div class="mb-3 col-md-4">
                            <label for="servicio" class="form-label">Servicio contratado</label>
                            <select name="servicio" class="form-select" required>
                                <option value="" selected>Elija el servicio a contratar</option>
                                {% for servicio in servicio %}
                                <option value="">{{servicio.descripcion}}</option>
                                {%endfor%}
                            </select>
                        </div>

                        <div class="text-end">
                            <button type="submit" class="btn btn-success"><i class="fas fa-check"></i> Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="{% static '/integrador/bootstrap-sat/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/form-validator.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/script.js' %}"></script>

{% endblock script %}