{% extends './base_integrador.html' %}

{% load static %}

{% block title %} Gestión G3 Internet {% endblock %}

{% block content %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 page-header">
                <h1 class="page-title">G3 INTERNET</h1>
                <h2>Internet de alta calidad para el hogar y la pyme</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-wifi"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Internet 300 mb</p>
                                    <span class="number">$ 5.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class=" "></i> Velocidad de bajada hasta 300 Megas <br>
                                Módem WiFi<br>
                                Velocidad de subida hasta 30 Megas<br>
                                Asistencia técnica telefónica 24 hs<br>
                                G3 Mail
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-wifi"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Internet 500 mb</p>
                                    <span class="number">$ 7.000</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class=" "></i> Velocidad de bajada hasta 500 Megas <br>
                                Módem WiFi<br>
                                Velocidad de subida hasta 30 Megas<br>
                                Asistencia técnica telefónica 24 hs<br>
                                G3 Mail
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-wifi"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Internet 1000 mb</p>
                                    <span class="number">$ 8.500</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class=" "></i> Velocidad de bajada hasta 1000 Megas <br>
                                Módem WiFi<br>
                                Velocidad de subida hasta 30 Megas<br>
                                Asistencia técnica telefónica 24 hs<br>
                                G3 Mail
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                <div class="card">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="icon-big text-center">
                                    <i class="teal fas fa-industry"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="detail">
                                    <p class="detail-subtitle">Internet PYMES 1000 mb</p>
                                    <span class="number">Consultar</span>
                                </div>
                            </div>
                        </div>
                        <div class="footer">
                            <hr />
                            <div class="stats">
                                <i class=" "></i> Velocidad de bajada hasta 1000 Megas <br>
                                Módem WiFi<br>
                                Velocidad de subida hasta 30 Megas<br>
                                Asistencia técnica telefónica 24 hs<br>
                                Cloud Storage & Web Hosting
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2>¿Por qué elegirnos?</h2>
            <p>G3 internet ofrece soluciones de Internet de alta calidad para el segmento hogar y pymes. Se trata de
                conexiones simétricas, de excelente disponibilidad y con velocidades que van hasta 10gb.</p>
            <p>Por eso y porque nuestro servicio técnico está siempre dispuesto a atender tus consultas e inquietudes de
                la mejor manera, nos enorgullese mostrarte que somos la empresa más elegida para el servicio de internet
                300 mb en los hogares del AMBA (CABA y Gran Buenos Aires).</p>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">G3 internet 300 mb clientes AMBA</div>
                    <div class="card-body">
                        <p class="card-title"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}

<script src="{% static '/integrador/bootstrap-sat/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static '/integrador/bootstrap-sat/js/script.js' %}"></script>

{% endblock script %}